<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/social.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">TrendWave</h1>
                </div>
                <h2 class="presentation-subtitle text-center">A new insight on social media trends</h2>
            </div>
        </div>
    </div>
    <div class="main">
     <div class="container">
        <div class="row" style="padding:50px 0px;">
            <div class="col-lg-6">
                <h3 style="border-bottom:8px solid #102767;margin-bottom:30px;"><strong>What is Trendwave ?</strong></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam assumenda accusamus 
                    aspernatur illo porro fugiat qui at non, dolores magni ad, laudantium unde eos magnam 
                    cumque temporibus! Suscipit eum repudiandae dignissimos rerum at impedit.Qui minima 
                    cupiditate reiciendis iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Fuga quam assumenda accusamus aspernatur illo porro fugiat qui  Lorem ipsum dolor sit 
                    amet consectetur adipisicing elit. Fuga quam assumenda accusamus aspernatur illo porro 
                    fugiat qui at non, dolores magni ad, laudantium unde eos magnam 
                    cumque temporibus! Suscipit eum repudiandae dignissimos rerum at impedit.Qui minima 
                    cupiditate reiciendis iste.
                </p> 
            </div>
            <div class="col-lg-6 d-flex flex-row justify-content-md-center">
                <img src="assets/img/mediated.jpg" alt="" style="height: 350px; width: 350px;">
            </div>
        </div>
     </div>
    </div>
</div>